<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scv.slackgo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAEv7OX4I4AfKu_-PFCCltTKVxPFJGGTEQ"/>

        <uses-library android:name="com.google.android.maps" />

        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

        </activity>

        <activity android:name=".activities.LocationsListActivity"
            android:exported="true"
            android:launchMode="singleInstance">
        </activity>

        <activity android:name=".activities.GeoFenceActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="scv"/>
                <data android:host="edit"/>

            </intent-filter>

        </activity>

        <activity android:name=".activities.LocationActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:pathPattern=".*"/>
                <data android:scheme="scv"/>
                <data android:host="authorize"/>
            </intent-filter>
        </activity>


        <service android:name=".services.GeofenceTransitionsIntentService" />

    </application>

</manifest>
